* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6dd68;
}

h2 {
    text-align: center;
    color: #ff6347;
}

a {
    text-decoration: none;
}

.sub-products {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product {
    background-color: #ffc0cb;
    width: 20%;
    border-radius: 12px;
    font-family: Arial, Haettenschweiler, Impact, sans-serif;
    font-weight: bold;
    font-style: italic;
    height: 300px;
    margin-right: 50px;

}

.product:hover {
    background-color: #ebcece;
}

#base {
    margin-top: -60px;
}

#stool {
    margin: -60px 0 0 20px;
}

#plastic-chair {
    width: 70%;
    margin: -50px 0 20px 30px;
}

.yellow-strap-gown-gold-strapless-black-strap {
    width: 50%;
    margin: 0 0 60px 60px;
}

.name-price {
    text-align: center;
    margin-top: -60px;
}

.add-to-cart {
    background-color: #ffffff;
    padding: 10px 0 10px 0;
    width: 53%;
    text-decoration: none;
    margin-left: 60px;
    text-align: center;
    border-radius: 10px;
}

.add-to-cart:hover {
    background-color: #b1acac;
}

#blue-shoe {
    width: 100%;
    margin: -20px 0 60px 15px;
}

.multicolor-wine-heels-bagpurse {
    width: 50%;
    padding: 10px 0 50px 50px;
}

#brown-shirt {
    width: 60%;
    margin: 30px 0 50px 50px;
}